<div class="container">
  <div class="input-group mb-3">
    <input type="text" [(ngModel)]="modelObject.model" class="form-control" placeholder="Modelo Ex: Celta" aria-label="Username" aria-describedby="basic-addon1">
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="alertModelEmpty">
    {{textModelAlert}}
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="brand">{{labelBrand}}</label>
    </div>
    <select class="custom-select" id="brand"  [(ngModel)]="modelObject.brand">
      <option selected></option>
      <option *ngFor="let brand of brandList" >{{brand.name}}</option>
    </select>
  </div>

  <div class="alert alert-danger" role="alert" *ngIf="alertBrandEmpty">
    {{textBrandAlert}}
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="version">{{labelVersion}}</label>
    </div>
    <select class="custom-select" id="version" [(ngModel)]="modelObject.version">
      <option selected></option>
      <option *ngFor="let vers of versionList" >{{vers.version}}</option>
    </select>
  </div>

  <div class="alert alert-danger" role="alert" *ngIf="alertVersionEmpty">
    {{textVersionAlert}}
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="years">{{labelYear}}</label>
    </div>
    <select class="custom-select" id="years" [(ngModel)]="modelObject.year">
      <option selected></option>
      <option *ngFor="let year of modelyearList" >{{year.year}}</option>

    </select>
  </div>

  <div class="alert alert-danger" role="alert" *ngIf="alertYearEmpty">
    {{textYearAlert}}
  </div>

  <button type="button" (click)="saveModel()" class="btn btn-primary">{{textButtonSave}}</button>


</div>



