<div class="container">
  <table class="table table-hover">
    <thead>
    <tr>
      <th *ngFor="let col of columns">
        {{col}}
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let brand of brandList">
      <td *ngFor="let col of columns">
        {{brand[col]}}
      </td>
      <td>
        <button type="button" (click)="deleteBrand(brand.id_brand)" class="btn btn-danger">Excluir</button>
      </td>
      <td>
        <button type="button" (click)="editBrand(brand.id_brand)" class="btn btn-warning">Editar</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
