<div class="container">
  <table class="table table-hover">
    <thead>
    <tr>
      <th *ngFor="let col of columns">
        {{col}}
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let vers of versionList ">
      <td *ngFor="let col of columns">
        {{vers[col]}}
      </td>
      <td>
        <button type="button" (click)="deleteVersion(vers.id_version)" class="btn btn-danger">Excluir</button>
      </td>
      <td>
        <button type="button" (click)="editVersion(vers.id_version)" class="btn btn-warning">Editar</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

