<div class="container">
  <div class="input-group mb-3">
    <input type="number"  min="1920" max="2020" [(ngModel)]="yearObject.year" class="form-control" placeholder="Ano Ex: 1947" aria-label="year" aria-describedby="basic-addon1">
  </div>

  <div class="alert alert-danger" role="alert" *ngIf="alertEmpty">
   {{textAlert}}
  </div>

  <button type="button" (click)="saveYear()" class="btn btn-primary">Salvar</button>

</div>
