<nav class="navbar navbar-expand-lg navbar-dark navbar-automobi">

  <img src="{{logoPath}}" class="logo">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" routerLink="/marca" >Marca</a>
      <a class="nav-item nav-link" routerLink="/modelo">Modelo</a>
      <a class="nav-item nav-link" routerLink="/ano">Ano</a>
      <a class="nav-item nav-link" routerLink="/versao">Versão</a>
    </div>
  </div>
</nav>
