<div class="container">
  <div class="input-group mb-3">
    <input type="text" [(ngModel)]="brandObject.name" class="form-control" placeholder="Marca Ex: Chevrolet" aria-label="Username" aria-describedby="basic-addon1">
  </div>

  <div class="alert alert-danger" role="alert" *ngIf="alertEmpty">
    {{textAlert}}
  </div>

  <button type="button" (click)="saveBrand()" class="btn btn-primary">Salvar</button>

</div>
