<div class="container">
  <table class="table table-hover">
    <thead>
    <tr>
      <th *ngFor="let col of columns">
        {{col}}
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let year of yearsList">
      <td *ngFor="let col of columns">
        {{year[col]}}
      </td>
      <td>
        <button type="button" (click)="deleteYear(year.model_year_id, year.year)" class="btn btn-danger">Excluir</button>
      </td>
      <td>
        <button type="button" (click)="editYear(year.model_year_id)" class="btn btn-warning">Editar</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
