<div class="container">
  <table class="table table-hover">
    <thead>
    <tr>
      <th *ngFor="let col of columns">
        {{col}}
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let mod of modelList ">
      <td *ngFor="let col of columns">
        {{mod[col]}}
      </td>
      <td>
        <button type="button" (click)="deleteModel(mod.modelid)" class="btn btn-danger">Excluir</button>
      </td>
      <td>
        <button type="button" (click)="editModel(mod.modelid)" class="btn btn-warning">Editar</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
