<div class="container">
  <div class="input-group mb-3">
    <input type="text" [(ngModel)]="versionObject.version" class="form-control" placeholder="Versão Ex: hatch 1.0" aria-label="Username" aria-describedby="basic-addon1">
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="alertEmpty">
    Versão não pode estar em branco!
  </div>

  <button type="button" (click)="saveVersion()" class="btn btn-primary">Salvar</button>

</div>


